body  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    width: 100px;
    height: 3em;
    border-radius: 5px;
    outline: none;
}

.buttons-container {
    height: 400px;
    width: 200px;
    display: inherit;
    justify-content: space-around;
    align-items: inherit;
    flex-direction: inherit;
    background-color: gray;
}

.links-container {
    display: inherit;
    flex-direction: inherit;
    justify-content: space-around;
    height: 200px;
    width: 200px;
}

